{% extends 'base.html' %}
{% load news_filter %}
{% load static %}

{% block title %}
文章详情
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/news_detail.min.css' %}">
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/blogajax.min.js' %}"></script>
    <script src="{% static 'js/message.min.js' %}"></script>
    <script src="{% static 'js/comment.min.js' %}"></script>
    <script src="{% static 'arttemplate/template-web.js' %}"></script>
    <script id='comment-item' type="text/html">
        {% verbatim %}
        <li>
            <div class="comment-info">
                <img src="{% static 'images/DSC_0199.jpg' %}" alt="" class="avatar">
                <span class="author">{{comment.author.username}}</span>
                <span class="pub-time">{{comment.pub_time}}</span>
            </div>
            <p class="comment-content">{{ comment.content }} </p>
        </li>
        {% endverbatim %}
    </script>
{% endblock %}
{% block main %}
        <div class="main-wrapper">
            <ul>
                <li>
                    <div class="title">
                        <h1>
                            {{ article.title }}
                        </h1>

                        <span class="views">3000views</span>
                    </div>
                    <div class="content">
                        <div class="article-desc">
                            {{ article.desc }}
                        </div>
                        <div class="article-content">
                            {{ article.content|safe }}
                        </div>
                    </div>
                    <div class="note">
                        <p>本条目发布于 {{ article.pub_time }}
                            ,属于{{ article.category.name }}分类,作者是 {{ article.author.username }} 。</p>
                    </div>
                </li>
            </ul>
            <div class="comment-wrapper">
                <h3 class="title">文章评论 ({{ article.comment_set.count }})</h3>
                <!--name为key 内容为value-->
                <textarea name="comment" class="comment-textarea logined-textarea"
                          placeholder="立即登录,参与评论"></textarea>
                <div class="submit-btn-group">
                    <button data-comment="{{ article.pk }}" class="submit-btn">立即评论</button>
                </div>
                <ul data-comment="{{ article.id }}" class="comment-list">
                    {% for comment in article.comment_set.all %}
                        <li>
                            <div class="comment-info">
                                <img src="{% static 'images/DSC_0199.jpg' %}" alt="" class="avatar">
                                <span class="author">{{ comment.author.username }}</span>
                                <span class="pub-time">{{ comment.pub_time|time_since }}</span>
                            </div>
                            <p class="comment-content">{{ comment.content }}</p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
{% endblock %}