<!DOCTYPE html>

<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <!--    css来源-->
    <link rel="stylesheet" href="{% static 'css/index.min.css' %}">
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
</head>
<body class="home blog custom-font-enabled">
<main>
    <header class="header">
        <div class="signal">
            <h1>水大鱼大</h1>
            <a href="/"></a>
        </div>
        <div class="desc">
            <h2>士不可以不弘毅,任重而道远</h2>
        </div>
        <div class="category-container">
            <ul class="nav">
                {% for category in categories %}
                <li class="">{{category.name}}</li>
                {% endfor %}
            </ul>
        </div>

    </header>
    <div class="wrapper">
        <div class="main-wrapper">
            <ul>
                {% for article in articles %}
                <li>
                    <div class="title">
                        <a href="#">
                           {{article.title}}
                        </a>
                        <span class="views">3000views</span>
                    </div>
                    <div class="content">
                        <p>
                            {{ article.desc }}
                        </p>
                        <div class="readmore">
                            <a href="{% url 'blog:article_detail' article_id=article.pk %}">Read more</a>
                        </div>
                    </div>
                    <div class="note">
                        <p>本条目发布于 {{article.pub_time}} ,属于{{article.category.name}}分类,作者是 {{ article.author.username }} 。</p>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="side-wrapper">

            <ul>
                <li>
                    <form action="#" method="get" id="search-form">
                        <div class="side-notice">
                            <div class="side-title">
                                <input class="side-input" type="text" name="q" id="q">
                                <input class="side-btn" type="submit" value="搜索">
                            </div>
                        </div>
                    </form>

                </li>
                <li>
                    <div class="side-notice">
                        <div class="side-title">公告</div>
                        <p>由于最近迁移至阿里云主机，因此Facebook，Google登录不可用，望见谅。 大家如果想测试本站功能,请移步 测试 来测试.谢谢.</p>
                    </div>
                </li>
                <li>
                    <div class="side-notice">
                        <div class="side-title">VIEWS</div>
                    </div>
                </li>
                <li>
                    <div class="side-notice">
                        <div class="side-title">分类目录</div>
                    </div>
                </li>
                <li>
                    <div class="side-notice">
                        <div class="side-title">近期文章</div>
                    </div>
                </li>
                <li>
                    <div class="side-notice">
                        <div class="side-title">欢迎您STAR或者FORK本站源代码</div>
                    </div>
                </li>
                <li>

                    <div class="side-notice">
                        <div class="side-title">功能</div>
                        <div>
                            {% if user.is_authenticated %}
                                <p>{{ user.username }}已登录 </p>
                                <a href={% url 'blogauth:logout' %}><p>退出登录</p></a>
                                {% if user.is_staff %}
                                    <a href="{% url 'cms:cms_index' %}"><p>CMS管理系统</p></a>
                                {% endif %}
                            {% else %}
                                <a href="{% url 'blogauth:register' %}"><p>注册</p></a>
                                <a href="{% url 'blogauth:login' %}"><p>登录</p></a>
                            {% endif %}
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <footer class="footer">
        <div class="site-info"></div>
        <div class="site-info"></div>
        <div class="site-info"></div>
    </footer>
</main>
</body>
</html>