{% extends 'base.html' %}
{% block title %}
    首页
{% endblock %}
{% block head %}

{% endblock %}
{% block main %}
    <div class="main-wrapper">
        <ul>
            {% for article in articles %}
                <li>
                    <div class="title">
                        <a href="#">
                            {{ article.title }}
                        </a>
                        <span class="views">3000views</span>
                    </div>
                    <div class="content">
                        <p>
                            {{ article.desc }}
                        </p>
                        <div class="readmore">
                            <a href="{% url 'blog:article_detail' article_id=article.pk %}">Read more</a>
                        </div>
                    </div>
                    <div class="note">
                        <p>本条目发布于 {{ article.pub_time }}
                            ,属于{{ article.category.name }}分类,作者是 {{ article.author.username }} 。</p>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}